.material-icons {
    // Fix icon position for room creator
    &[aria-label="Room creator"] {
        vertical-align: text-top;
    }
}
.awp {
    &-w2g {
        &-chatCounter {
            white-space: nowrap;

            &-max {
                animation: shake 0.1s ease-in-out 0.1s 3 alternate;

                @keyframes shake {
                    from {
                        transform: rotate(5deg);
                    }
                    to {
                        transform-origin: center center;
                        transform: rotate(-5deg);
                    }
                }
            }
        }
    }
}
